/*importing Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Playpen+Sans:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miniver&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "poppins" , sans-serif;
}


:root {
  /* Colors */

  --white-color: #fff;
  --dark-color: #252525;
  --primary-color: #3b141c;
  --secondary-color: #f3961c;
  --light-pink-color: #faf4f5;
  --medium-gray-color: #ccc;

  /* Font size */

  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

  /* Font weight */

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Border radius */

  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;

  /* Site max width */

  --site-max-width:1300px;

}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}
button{
    cursor: pointer;
    border:none;
}
.section-content{
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--site-max-width);
}
.img{
    width:100%;
}

header{
    background-color: #3b141c;
}
header .navbar{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .navbar .nav-menu{
    display: flex;
    gap: 10px;
}

.navbar .nav_logo .logo-text {
    color: #fff;
    text-decoration: none;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
    
    
}
.navbar .nav-menu .nav-link{
    padding: 10px 18px;
    border-radius: var(--border-radius-m) ;
    color: #faf4f5;
    background-color: var(--primary-color);
}

.navbar .nav-menu .nav-link:hover{
    
    background-color: var(--secondary-color);
    transition:0.3s ease;
}
/*-------------------------------------------------------*/
main section .main-text{
    background-color: #3b141c;
}

.main-text .text{
    color: #ccc;
}
.main-text .top_text{/*--------*/
    color: #f3961c;
    font-family: "Pacifico", cursive;
}
.section1{
    display: flex;
    gap: 5px;
}